.neuropsi-button {
    padding: 2px;
    border: 0;
    margin: 0;
    background-color: #baccd9;
}

main, header{
    display: flex;
    justify-content: center;
    align-items: center;
}

#main{
    background-color: #0062a7;
    width: 60%;
}

body{
    background-color: #EDB309;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo{
    content: url(../images/logo-header.svg);
    float: left;
    margin-right:30px
}
.triangle {
    content: url(../images/triangle.png);
}
.cross {
    content: url(../images/cross.png);
}
.diamond {
    content: url(../images/diamond.png);
}
.eight-pointed-star {
    content: url(../images/eight-pointed-star.png);
}
.five-pointed-star {
    content: url(../images/five-pointed-star.png);
}
.four-pointed-star {
    content: url(../images/four-pointed-star.png);
}
.hourglass {
    content: url(../images/hourglass.png);
}
.petal {
    content: url(../images/petal.png);
}
.rounded-cross {
    content: url(../images/rounded-cross.png);
}
.six-pointed-star {
    content: url(../images/six-pointed-star.png);
}
.xmark {
    content: url(../images/xmark.png);
}
.triangle-clicked {
    content: url(../images/triangle-clicked.png);
}
.cross-clicked {
    content: url(../images/cross-clicked.png);
}
.diamond-clicked {
    content: url(../images/diamond-clicked.png);
}
.eight-pointed-star-clicked {
    content: url(../images/eight-pointed-star-clicked.png);
}
.five-pointed-star-clicked {
    content: url(../images/five-pointed-star-clicked.png);
}
.four-pointed-star-clicked {
    content: url(../images/four-pointed-star-clicked.png);
}
.hourglass-clicked {
    content: url(../images/hourglass-clicked.png);
}
.petal-clicked {
    content: url(../images/petal-clicked.png);
}
.rounded-cross-clicked {
    content: url(../images/rounded-cross-clicked.png);
}
.six-pointed-star-clicked {
    content: url(../images/six-pointed-star-clicked.png);
}
.xmark-clicked {
    content: url(../images/xmark-clicked.png);
}

.icon {
    height:35px;
    padding: 2px;
}

.container {
    float: left;
    background-color: #0062a7;
    padding: 20px;
    height: auto ;
    color: #d3e1eb;
}  
.time{
    float: left;
}

.score{
    font-size: 30px;
    display: block;
}

#countdown{
    background-color: #06a123;
    font-size: 30px;
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#d3e1eb;
}

#restart{
    background-color: #b5050b;
    font-size: 30px;
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#d3e1eb;
}

th{
    padding: 0;
}