*{
  margin:0;  
}
.neuropsi-button {
    padding: 2px;
    border: 0;
    margin: 0;
    background-color: #baccd9;
}

main, header{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

header{
    margin-top: 5px;
}

.button-end{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

#main{
    background-color: #0062a7;
    width: 60%;
}

.begin-container{
    margin: 0 25% 0 25%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

body{
    background-color: #EDB309;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo-footer{
    content: url(../images/logo-footer.svg);
    margin: auto;
}

.logo-index{
    content: url(../images/ucatolica_logo.png);
    width: 20%;
    margin: 5% auto auto auto;
    display: block;
}
.triangle {
    content: url(../images/triangle.png);
}
.cross {
    content: url(../images/cross.png);
}
.diamond {
    content: url(../images/diamond.png);
}
.eight-pointed-star {
    content: url(../images/eight-pointed-star.png);
}
.five-pointed-star {
    content: url(../images/five-pointed-star.png);
}
.four-pointed-star {
    content: url(../images/four-pointed-star.png);
}
.hourglass {
    content: url(../images/hourglass.png);
}
.petal {
    content: url(../images/petal.png);
}
.rounded-cross {
    content: url(../images/rounded-cross.png);
}
.six-pointed-star {
    content: url(../images/six-pointed-star.png);
}
.xmark {
    content: url(../images/xmark.png);
}
.triangle-clicked {
    content: url(../images/triangle-clicked.png);
}
.cross-clicked {
    content: url(../images/cross-clicked.png);
}
.diamond-clicked {
    content: url(../images/diamond-clicked.png);
}
.eight-pointed-star-clicked {
    content: url(../images/eight-pointed-star-clicked.png);
}
.five-pointed-star-clicked {
    content: url(../images/five-pointed-star-clicked.png);
}
.four-pointed-star-clicked {
    content: url(../images/four-pointed-star-clicked.png);
}
.hourglass-clicked {
    content: url(../images/hourglass-clicked.png);
}
.petal-clicked {
    content: url(../images/petal-clicked.png);
}
.rounded-cross-clicked {
    content: url(../images/rounded-cross-clicked.png);
}
.six-pointed-star-clicked {
    content: url(../images/six-pointed-star-clicked.png);
}
.xmark-clicked {
    content: url(../images/xmark-clicked.png);
}

.icon {
    height: 30px;
    padding: 2px;
}

.container {
    background-color: #0062a7;
    padding: 10px;
    height: auto ;
    color: #d3e1eb;
}  
.time{
    float: left;
}

.score{
    font-size: 30px;
    display: block;
}

.start-button{
    background-color: #06a123;
    font-size: 250%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px 30px;
    color:#d3e1eb;
    margin: auto;
    display: block;
}

.restart-button{
    background-color: #b5050b;
    font-size: 30px;
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#d3e1eb;
}
.finalyze-button{
    background-color: #06a123;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#d3e1eb; 
}
th{
    padding: 0;
}

.title-index{
    font-size: 450%;
    text-align: center;
    margin: 5% auto 5% auto;
}

footer{
    background-color: #0062a7;
    margin:0;
    padding:5px 0 5px 0;
    border: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
}
p{
    font-size: 25px;
}

.instructions-image{
    padding: 15px 0;
    width: 40%;
    margin: 15px;
}
@media only screen and (min-width: 1080px) {
    .neuropsi{
        min-width: 580px;
        width: 60%;
        height: 30px;
        margin: 0 20% 0 20%; 
    }

    .neuropsi-grid{
        margin: 0 5% 0 5%;
        width: 90%;
    }
}
@media only screen and (max-width: 1080px) {
    [class*="col-"] {
        width: 100%;
    }
    .neuropsi{
        min-width: 580px;
        width: 100%;
        height: 30px;
        margin: 0; 
    }

    .neuropsi-grid{
        margin: 0;
        width: 100%;
    }
}

.results{
    /* background-color: blue; */
    width: 60%;
    height: auto;
    margin: 0 20% 0 20%; 
}

#resultados th{
    border: 1px solid black;
}
#resultados td{
    border: 1px solid black;
}
#resultados tr{
    border: 1px solid black;
}

.table-results {
    width: 100%;
}